
.world-background {

    @media (max-width: 1145px) {
       
        video {
            max-width: 150%;
        }
    }

    @media (max-width: 765px) {
       
        video {
            max-width: 200%;
        }
    }

    @media (max-width: 570px) {
       
        video {
            max-width: 250%;
        }
    }
}

.flats {
    

    #cchapter {
        
    }
}