.world-background {

    @media (max-width: 1500px) {
       
        video {
            max-width: 150%;
        }
    }

    @media (max-width: 991px) {
       
        video {
            max-width: 200%;
        }
    }

    @media (max-width: 750px) {
       
        video {
            max-width: 250%;
        }
    }

    @media (max-width: 570px) {
       
        video {
            max-width: 400%;
        }
    }
}

.flats {


        @media (max-width: 1250px) {
            
            #cchapter {
                top: 25px;

                img {
                    width: 150px;
                }
            }

            .clogo-cheader {

                #clogo {

                    img {
                        width: 350px;
                    }
                }
    
                #cheader {
                    top: 80px;
                    left: 0px;
    
                    span {
                        font-size: 35px;
                    }
    
                    p {
                        .fill-text {
    
                            top: -6px;
                        }
                    }
                }
            }

            #cicons {
                bottom: -45px;
                left: 20px;

                img {
                    width: 500px;
                }
            }
        }
    
        @media (max-width: 991px) {
            
            #cchapter {
                right: 45px;
            }

            .clogo-cheader { 
                left: -40px;
            }

            #cicons {
                left: -48px;
            }
        }
}

#prompt {

    @media (max-width: 1250px) {
        transform: translate(0px, 103px) !important;

        video {
            width: 675px;
        }

        .prompt-content {
            transform: scale(.8) !important;
            // right: 134px;
            // top: 83px;
        }
    }

    @media (max-width: 991px) { 
        transform: translate(87px, 103px) !important;
    }
}